## Orbyts 2024 doubly-deuterated ammonia MARVEL Project
This notebook is designated for the combination differences code, so that we know what can be done with Orbyts. We shall also add functions that the students can use that are intended to cut down the syntaxal clutter of Pandas.

In [2]:
import pandas as pd

## Read from a file
Function for reading from a file and writing to a file.

In [7]:
def readFile(filename, columnNames=None):
    if columnNames == None:
        dataFrame = pd.read_csv(filename, delim_whitespace=True)
    else:
        dataFrame = pd.read_csv(filename, delim_whitespace=True, names=columnNames)
    return dataFrame

def writeToFile(dataFrame, fileName):
    dataFrame = dataFrame.to_string(index=False)
    with open(fileName, "w+") as fileToWriteTo:
        fileToWriteTo.write(dataFrame)

The `delim_whitspace=True` argument is applied for when columns in the file are seperated by whitespace instead of columns

In [17]:
empiricalEnergies = pd.read_csv("22CaDiFuTa-EmpiricalLevels.txt", delim_whitespace=True)
# inversionMapping = {
#     0: "s",
#     1: "a"
# }
# empiricalEnergies["inv"] = empiricalEnergies["inv"].map(inversionMapping)
empiricalEnergies

,nu1,nu2,nu3a,nu3b,nu4a,nu4b,J,Ka,Kc,inv,E/CM-1,E/Mhz
0,0,0,0,0,0,0,0,0,0,s,0.000000,0.000000e+00
1,0,0,0,0,0,0,0,0,0,a,0.170745,5.118810e+03
2,0,0,0,0,0,0,1,0,1,s,9.097058,2.727229e+05
3,0,0,0,0,0,0,1,0,1,a,9.267720,2.778393e+05
4,0,0,0,0,0,0,1,1,1,s,11.191535,3.355138e+05
...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0,0,0,0,0,0,28,27,1,s,5514.106555,1.653088e+08
1678,0,0,0,0,0,0,28,28,1,a,5629.747905,1.687756e+08
1679,0,0,0,0,0,0,28,28,0,a,5629.747905,1.687756e+08
1680,0,0,0,0,0,0,28,28,0,s,5629.907179,1.687804e+08
1681,0,0,0,0,0,0,28,28,1,s,5629.907179,1.687804e+08

In [18]:
empiricalEnergies["Tag\""] = (empiricalEnergies["nu1"].astype(str) + "-" + empiricalEnergies["nu2"].astype(str)
                            + "-" + empiricalEnergies["nu3a"].astype(str) + "-" + empiricalEnergies["nu3b"].astype(str)
                            + "-" + empiricalEnergies["nu4a"].astype(str) + "-" + empiricalEnergies["nu4b"].astype(str)
                            + "-" + empiricalEnergies["J"].astype(str) + "-" + empiricalEnergies["Ka"].astype(str)
                            + "-" + empiricalEnergies["Kc"].astype(str) + "-" + empiricalEnergies["inv"])
empiricalEnergies

,nu1,nu2,nu3a,nu3b,nu4a,nu4b,J,Ka,Kc,inv,E/CM-1,E/Mhz,"Tag"""
0,0,0,0,0,0,0,0,0,0,s,0.000000,0.000000e+00,0-0-0-0-0-0-0-0-0-s
1,0,0,0,0,0,0,0,0,0,a,0.170745,5.118810e+03,0-0-0-0-0-0-0-0-0-a
2,0,0,0,0,0,0,1,0,1,s,9.097058,2.727229e+05,0-0-0-0-0-0-1-0-1-s
3,0,0,0,0,0,0,1,0,1,a,9.267720,2.778393e+05,0-0-0-0-0-0-1-0-1-a
4,0,0,0,0,0,0,1,1,1,s,11.191535,3.355138e+05,0-0-0-0-0-0-1-1-1-s
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0,0,0,0,0,0,28,27,1,s,5514.106555,1.653088e+08,0-0-0-0-0-0-28-27-1-s
1678,0,0,0,0,0,0,28,28,1,a,5629.747905,1.687756e+08,0-0-0-0-0-0-28-28-1-a
1679,0,0,0,0,0,0,28,28,0,a,5629.747905,1.687756e+08,0-0-0-0-0-0-28-28-0-a
1680,0,0,0,0,0,0,28,28,0,s,5629.907179,1.687804e+08,0-0-0-0-0-0-28-28-0-s
1681,0,0,0,0,0,0,28,28,1,s,5629.907179,1.687804e+08,0-0-0-0-0-0-28-28-1-s

In [66]:
marvelColumns = ["nu", "unc1", "unc2", "nu1'", "nu2'", "nu3a'", "nu3b'", "nu4a'", "nu4b'", "J'", "Ka'", "Kc'", "inv'",
                "nu1\"", "nu2\"", "nu3a\"", "nu3b\"", "nu4a\"", "nu4b\"", "J\"", "Ka\"", "Kc\"", "inv\"", "Source"]
transitions = pd.read_csv("ND2H-MARVEL-MAIN.txt", delim_whitespace=True, names=marvelColumns)
transitions

,nu,unc1,unc2,nu1',nu2',nu3a',nu3b',nu4a',nu4b',J',...,"nu2""","nu3a""","nu3b""","nu4a""","nu4b""","J""","Ka""","Kc""","inv""",Source
0,57674.76000,0.1500,0.1500,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,a,51WeSt.1
1,67831.52000,0.1500,0.1500,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,s,51WeSt.2
2,28560.90000,0.0500,0.0500,0,0,0,0,0,0,2,...,0,0,0,0,0,2,0,2,a,51WeSt.3
3,38739.13000,0.1000,0.1000,0,0,0,0,0,0,2,...,0,0,0,0,0,2,0,2,s,51WeSt.4
4,8283.92000,0.0500,0.0500,0,0,0,0,0,0,3,...,0,0,0,0,0,3,0,3,a,51WeSt.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5540,218.05661,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,0,0,17,3,15,s,06EnMuBrPa.1065
5541,219.02903,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,0,0,17,1,16,a,06EnMuBrPa.1066
5542,219.02903,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,0,0,17,2,16,a,06EnMuBrPa.1067
5543,219.35744,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,0,0,17,1,16,s,06EnMuBrPa.1068
5544,219.35744,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,0,0,17,2,16,s,06EnMuBrPa.1069

### Apply function to row of a DataFrame
Function for applying a function to each row of a data frame.

In [67]:
def applyFunction(function, dataFrame):
    dataFrame = dataFrame.apply(lambda x:function(x), result_type="expand", axis=1)
    return dataFrame

In [68]:
def generateTags(row):
    row["Tag'"] = (str(row["nu1'"]) + "-" + str(row["nu2'"]) + "-" + str(row["nu3a'"]) 
                   + "-" + str(row["nu3b'"]) + "-" + str(row["nu4a'"]) + "-" + str(row["nu4b'"])
                   + "-" + str(row["J'"]) + "-" + str(row["Ka'"]) + "-" + str(row["Kc'"])  
                   + "-" + str(row["inv'"]))
    row["Tag\""] = (str(row["nu1\""]) + "-" + str(row["nu2\""]) + "-" + str(row["nu3a\""]) 
                   + "-" + str(row["nu3b\""]) + "-" + str(row["nu4a\""]) + "-" + str(row["nu4b\""])
                   + "-" + str(row["J\""]) + "-" + str(row["Ka\""]) + "-" + str(row["Kc\""])  
                   + "-" + str(row["inv\""]))
    return row

transitions = applyFunction(generateTags, transitions)
transitions

,nu,unc1,unc2,nu1',nu2',nu3a',nu3b',nu4a',nu4b',J',...,"nu3b""","nu4a""","nu4b""","J""","Ka""","Kc""","inv""",Source,Tag',"Tag"""
0,57674.76000,0.1500,0.1500,0,0,0,0,0,0,1,...,0,0,0,1,0,1,a,51WeSt.1,0-0-0-0-0-0-1-1-1-s,0-0-0-0-0-0-1-0-1-a
1,67831.52000,0.1500,0.1500,0,0,0,0,0,0,1,...,0,0,0,1,0,1,s,51WeSt.2,0-0-0-0-0-0-1-1-1-a,0-0-0-0-0-0-1-0-1-s
2,28560.90000,0.0500,0.0500,0,0,0,0,0,0,2,...,0,0,0,2,0,2,a,51WeSt.3,0-0-0-0-0-0-2-1-2-s,0-0-0-0-0-0-2-0-2-a
3,38739.13000,0.1000,0.1000,0,0,0,0,0,0,2,...,0,0,0,2,0,2,s,51WeSt.4,0-0-0-0-0-0-2-1-2-a,0-0-0-0-0-0-2-0-2-s
4,8283.92000,0.0500,0.0500,0,0,0,0,0,0,3,...,0,0,0,3,0,3,a,51WeSt.5,0-0-0-0-0-0-3-1-3-s,0-0-0-0-0-0-3-0-3-a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5540,218.05661,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,17,3,15,s,06EnMuBrPa.1065,0-0-0-0-0-0-18-4-15-a,0-0-0-0-0-0-17-3-15-s
5541,219.02903,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,17,1,16,a,06EnMuBrPa.1066,0-0-0-0-0-0-18-2-16-s,0-0-0-0-0-0-17-1-16-a
5542,219.02903,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,17,2,16,a,06EnMuBrPa.1067,0-0-0-0-0-0-18-3-16-s,0-0-0-0-0-0-17-2-16-a
5543,219.35744,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,17,1,16,s,06EnMuBrPa.1068,0-0-0-0-0-0-18-2-16-a,0-0-0-0-0-0-17-1-16-s
5544,219.35744,0.0003,0.0003,0,0,0,0,0,0,18,...,0,0,0,17,2,16,s,06EnMuBrPa.1069,0-0-0-0-0-0-18-3-16-a,0-0-0-0-0-0-17-2-16-s

In [69]:
transitions = transitions.merge(empiricalEnergies[["Tag\"", "E/CM-1"]])
# Rename column and discard
transitions["E\""] = transitions["E/CM-1"]
transitions = transitions.drop("E/CM-1", axis=1)
transitions["E'"] = transitions["nu"] + transitions["E\""]

### Group apply function
Function to be applied to dataframes grouped by a certain column

In [45]:
def groupApplyFuction(function, groupByColumn, dataFrame):
    groupedDataFrame = dataFrame.groupby([groupByColumn])
    dataFrame = groupedDataFrame.apply(lambda x:function(x))
    return dataFrame

In [70]:
def applyCombinationDifferences(dataFrame):
    dataFrame["Eavg'"] = dataFrame["E'"].mean()
    dataFrame["Problem"] = abs(dataFrame["Eavg'"] - dataFrame["E'"].mean()) > 0.05 
    dataFrame["Return"] = dataFrame["Problem"].any()
    return dataFrame

transitions = groupApplyFuction(applyCombinationDifferences, "Tag'", transitions)
transitions[["Source", "Tag'", "Tag\"", "E'", "unc1","Eavg'", "Problem","E\""]]
# problematicTransitions = transitions[transitions["Return"]]
# problematicTransitions[["Source", "Tag'", "Tag\"", "E'", "unc1","Eavg'", "Problem","E\""]]

                                   Source                 Tag'  \
Tag'
0-0-0-0-0-0-1-1-0-a 2       22CaDiFuTa.58  0-0-0-0-0-0-1-1-0-a
                    5       06EnMuBrPa.57  0-0-0-0-0-0-1-1-0-a
                    6       06EnMuBrPa.58  0-0-0-0-0-0-1-1-0-a
                    7       06EnMuBrPa.59  0-0-0-0-0-0-1-1-0-a
                    8       06EnMuBrPa.60  0-0-0-0-0-0-1-1-0-a
...                                   ...                  ...
0-0-0-0-0-0-9-9-1-s 2394   06EnMuBrPa.482  0-0-0-0-0-0-9-9-1-s
                    4564  22CaDiFuTa.1807  0-0-0-0-0-0-9-9-1-s
                    4565  22CaDiFuTa.1809  0-0-0-0-0-0-9-9-1-s
                    4567   06EnMuBrPa.724  0-0-0-0-0-0-9-9-1-s
                    4568  22CaDiFuTa.1813  0-0-0-0-0-0-9-9-1-s

                                         Tag"          E'          unc1  \
Tag'
0-0-0-0-0-0-1-1-0-a 2     0-0-0-0-0-0-1-0-1-a   12.964039  3.335641e-06
                    5     0-0-0-0-0-0-1-0-1-a   12.963981  6.671282e-07
                    6     0-0-0-0-0-0-1-0-1-a   12.964001  6.671282e-07
                    7     0-0-0-0-0-0-1-0-1-a   12.964019  6.671282e-07
                    8     0-0-0-0-0-0-1-0-1-a   12.964039  6.671282e-07
...                                       ...         ...           ...
0-0-0-0-0-0-9-9-1-s 2394  0-0-0-0-0-0-9-8-1-a  640.731658  3.000000e-04
                    4564  0-0-0-0-0-0-8-8-1-a  640.731532  5.000126e-05
                    4565  0-0-0-0-0-0-8-8-1-a  640.731647  1.000025e-04
                    4567  0-0-0-0-0-0-8-8-1-a  640.731360  3.000000e-04
                    4568  0-0-0-0-0-0-8-8-0-s  640.731556  5.000126e-05

                               Eavg'  Problem          E"
Tag'
0-0-0-0-0-0-1-1-0-a 2      12.964028    False    9.267720
                    5      12.964028    False    9.267720
                    6      12.964028    False    9.267720
                    7      12.964028    False    9.267720
                    8      12.964028    False    9.267720
...                              ...      ...         ...
0-0-0-0-0-0-9-9-1-s 2394  640.731605    False  595.201268
                    4564  640.731605    False  511.229470
                    4565  640.731605    False  511.229470
                    4567  640.731605    False  511.229470
                    4568  640.731605    False  511.115144

[5545 rows x 8 columns]